<%- include ("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1> Purlieu </h1>
			<p>Your city, your favourite stomping ground!</p>
			<p>
				<a class="btn btn-primary btn-lrg" href="/restaurants/new">Add Your Favourite Hangout Place</a>
			</p>	
		</div>
	</header>	

	<div class="row text-center" style="display:flex; flex-wrap: wrap;" >
		<% restaurants.forEach(function(restaurant){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src = "<%= restaurant.image %>">
				<div class="caption">
					<p>
						<strong><%= restaurant.name %></strong> , <%= restaurant.city %>
					</p>
				</div>
				<p>
					<a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<% }) %>
	</div>
<br>	
</div>
<%- include ("../partials/footer") %>